In [1]:

# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bulungu,CD,2022-05-23 22:42:11,-4.5500,18.6000,69.40,97,98,2.08
1,1,Kemptville,CA,2022-05-23 22:37:54,45.0168,-75.6410,61.05,44,100,1.14
2,2,San Patricio,US,2022-05-23 22:42:11,28.0170,-97.5169,84.09,57,99,15.59
3,3,Yulara,AU,2022-05-23 22:42:12,-25.2406,130.9889,63.00,53,99,7.85
4,4,Fairbanks,US,2022-05-23 22:38:14,64.8378,-147.7164,58.08,28,20,6.91

In [3]:
# Get the data tpyes.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,San Patricio,US,2022-05-23 22:42:11,28.0170,-97.5169,84.09,57,99,15.59
10,10,Acarau,BR,2022-05-23 22:42:14,-2.8856,-40.1200,78.15,83,62,5.21
12,12,Mahebourg,MU,2022-05-23 22:42:14,-20.4081,57.7000,75.49,69,40,13.80
15,15,Kapaa,US,2022-05-23 22:42:15,22.0752,-159.3190,82.38,74,20,12.66
23,23,Saint-Georges,GD,2022-05-23 22:42:17,12.0564,-61.7485,82.08,78,40,14.97
26,26,Padang,ID,2022-05-23 22:42:18,-0.9492,100.3543,78.06,84,98,3.24
28,28,Porto Velho,BR,2022-05-23 22:42:19,-8.7619,-63.9039,86.05,54,20,3.44
29,29,Sarh,TD,2022-05-23 22:42:19,9.1429,18.3923,76.91,88,0,0.00
31,31,Puerto Ayora,EC,2022-05-23 22:42:20,-0.7393,-90.3518,80.56,94,37,3.00
32,32,Rikitea,PF,2022-05-23 22:42:20,-23.1203,-134.9692,75.74,75,18,10.94

In [17]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2    San Patricio      US     84.09  28.0170  -97.5169
10         Acarau      BR     78.15  -2.8856  -40.1200
12      Mahebourg      MU     75.49 -20.4081   57.7000
15          Kapaa      US     82.38  22.0752 -159.3190
23  Saint-Georges      GD     82.08  12.0564  -61.7485
26         Padang      ID     78.06  -0.9492  100.3543
28    Porto Velho      BR     86.05  -8.7619  -63.9039
29           Sarh      TD     76.91   9.1429   18.3923
31   Puerto Ayora      EC     80.56  -0.7393  -90.3518
32        Rikitea      PF     75.74 -23.1203 -134.9692

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:  
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,San Patricio,US,84.09,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Acarau,BR,78.15,-2.8856,-40.1200,castelo pizzaria
12,Mahebourg,MU,75.49,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
15,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Saint-Georges,GD,82.08,12.0564,-61.7485,Radisson Grenada Beach Resort
26,Padang,ID,78.06,-0.9492,100.3543,Mercure Padang
28,Porto Velho,BR,86.05,-8.7619,-63.9039,Ecos Hotel Conforto
29,Sarh,TD,76.91,9.1429,18.3923,Domicile 1sur le goudron
31,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
32,Rikitea,PF,75.74,-23.1203,-134.9692,People ThankYou

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))